@import "tailwindcss";
@plugin "daisyui";
body {
	background:  url("/new.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000!important;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
